.header_wrapper {
    width: 100%;
    display: block;
}

.header_inner {
    width: 1200px;
    height: auto;
}

.header_login_box {
    width: 370px;
    float: left;
    margin: 5px;
}

.header_forgot_password {
    display: none;
}

.header_registration {
    width: 550px;
    margin: 5px;
    float: left;
}

span.registration_no_email_warning {
    font-size: x-small;
    color: red;
}

body {
    font-family: Arial;
    font-size: 12px;
}

.registration_result {
    width: 100%;
    color: green;
    float: left;
}

.login_result {
    width: 100%;
    color: green;
    float: left;
}
.main_wrapper {
    width: 100%;
    min-height: 200px;
    display: block;
    float: left;
}

div#footer_wrapper {
    width: 100%;
    float: left;
    height: 100px;
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo > a {
    font-size: 5em;
    color: #000;
    text-decoration: none;
}

.header_inner > nav > ul {
    width: 100%;
    list-style: none;
    float: left;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.header_inner > nav > ul > li {
    font-size: .8em;
    margin: 0 auto;
    width: 10%;
    padding: 5px;
}

.header_inner > nav > ul > li {
    float: left;
    margin: 0px 5px;
}
.logo > a {
    font-size: 5em;
    color: #000;
    text-decoration: none;
}
.header_inner > nav > ul > li {
    font-size: .8em;
    margin: 0 auto;
    width: 10%;
    padding: 5px;
}
.main_tower {
    width: 250px;
    display: block;
    float: left;
}

.main_inner {
    width: 1040px;
    padding: 0px 300px;
	margin-left:15px;
}

.main_tower > ul {
    list-style: none;
    font-weight: 700;
	padding:5px;
}

.main_tower > ul > li {
	margin: 15px 0px;
}

.main_tower > ul > li > ul > li {
    font-weight: 100;
}

.main_tower > ul > ul > li {
    font-weight: 100;
    font-style: italic;
}

.main_tower > ul > ul {
    list-style: none;
    padding: 0;
    font-size: 0.9em;
}