body {
    font-family: Arial;
    font-size: 12px;
}

.header_wrapper {

    display: block;
}

.header_inner {
    max-width: 1200px;
    text-align: center;
}

.header_login_box {
	display:inline-block;
    width: 760px;
}

.header_forgot_password {
    display: none;
	width: 250px;
}

.header_registration {	
    display:none;
}

span.registration_no_email_warning {
	position: absolute;
    left: 563px;
    top: 150px;
    font-size: x-small;
    color: red;
}

.registration_result {
    width: 100%;
    color: green;
    float: left;
}

.login_result {
    width: 100%;
    color: green;
    float: left;
}
.main_wrapper {
    width: 100%;
    min-height: 200px;
    display: block;
    float: left;
}

div#footer_wrapper {
    width: 100%;
    float: left;
    height: 100px;
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo > a {
    font-size: 5em;
    color: #000;
    text-decoration: none;
}

nav {
    width: 100%;
    text-align: center;
}

.header_inner > nav > ul {
    max-width: 660px;
    list-style: none;
    border-bottom: 2px solid #a1a1a1;    
	display:inline-block;
	padding: 0px
}

.header_inner > nav > ul > li {
	font-size: .9em;
    margin: 0 auto;
    width: 120px;
	padding: 5px 0px;
	float: left;
    
}

.main_tower {
    width: 250px;
    display: block;
    float: left;
}

.main_inner {
    width: 1040px;
    padding: 0px 235px;
	margin-left:15px;
}

.main_tower > ul {
    list-style: none;
    font-weight: 700;
	padding:5px;
}

.main_tower > ul > li {
	margin: 15px 0px;
}

.main_tower > ul > li > ul > li {
    font-weight: 100;
}

.main_tower > ul > ul > li {
    font-weight: 100;
    font-style: italic;
}

.main_tower > ul > ul {
    list-style: none;
    padding: 0;
    font-size: 0.9em;
}